@import "colors.scss";
@import "captcha.scss";
@import "landing.scss";

@mixin bRadius($r){
	border-radius: $r;
}

@mixin placeholderColor($color){
	color: $color !important;
	font-weight: 700;
	&:hover{
		cursor:pointer;
	}
}

body{
	background-color: $body_bg;
}

.container{
	margin:0 auto !important;
	text-align: center;
	padding: 0;
	max-height: 100%;
	max-width: 100%;
	visibility: hidden;
}

#login{
	width:98%;
	margin:0 auto;
	max-width: 40em;
	text-align: center;
}

input.login:focus{
	border-color: $main_color !important;
}

.no-tb-padding{
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.no-tb-margin{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.user-form-container{
	@include bRadius(20px);
	background-color: transparentize($login_form_bg,.6);
	min-height:12em;
}

.user-pic-holder{
	margin-top:1em;
}

.row.login{
	width: 90%;
	margin: 0 auto;
	margin-top:1em;
}
.row.login.recover{
	margin:0;padding:0;
	text-align:right;	
}

.user-pic{
	width: 100%;
	max-width: 9.2em;
	border-radius: 50%;
	border: 2px solid $login_user_logo_border;
	min-height:7em;
	padding: .4em;
}

.shadow{
	-webkit-box-shadow: 0px 10px 77px 0px $login_form_shadow;
	-moz-box-shadow: 0px 10px 77px 0px $login_form_shadow;
	box-shadow: 0px 10px 77px 0px	$login_form_shadow;
}

.error{
	border:1px solid $warning-color !important;
	@include placeholderColor($warning-color);
	//background: rgba(255,100,100, .5) !important;
}
.error::-ms-input-placeholder{
	@include placeholderColor($warning-color);
}
.error:-ms-input-placeholder{
	@include placeholderColor($warning-color);
}
.error::-webkit-input-placeholder{
	@include placeholderColor($warning-color);
}

.notification-container{
	position: fixed;
	max-width:960px;
	width:90%;
	top:0;left:0;right:0;
	margin:0 auto;
	max-width:600px;
	text-align:center;
	z-index: 9999;
}

.notification-bar{
	margin-top:.3em;
	@include bRadius(10px);
	font-size:1em;
	padding:.3em 0;
	background-color: lighten($main_color,30%);
	color: darken($main_color,50%);
	font-weight: 700;
	border: 1px solid $warning_color;
}

div.banner-container{
	position:fixed;
	width:100%;
	margin:0;
	padding:0;
	text-align: right;
	background: darken($main_color,5%);
	&.banner-shadow{
-webkit-box-shadow: inset 0px -116px 4px -116px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -116px 4px -116px rgba(0,0,0,0.75);
box-shadow: inset 0px -116px 4px -116px rgba(0,0,0,0.75);
	}
	> div.banner-text{
		margin:0;
		padding:0 1em;
		font-size:1.6em;
		font-weight:700;
	}
}

@media (max-width: 499px){
	#login{
		padding:0;
	}
	img.user-pic{
		min-width:45%;
		@include bRadius(30%);
	}
	.captcha-container{
		width: 100% !important;
	}
}
