body {
  background-color: #63d1f3;
}

.container {
  /*position: relative;*/
  margin: 0 auto !important;
  text-align: center;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#login {
  width: 90%;
  margin: 0 auto;
  max-width: 40em;
  text-align: center;
}

input.login:focus {
  border-color: #33C3F0 !important;
}

.button.button-primary {
  background-color: #33C3F0 !important;
  border-color: #33C3F0 !important;
}
.button.button-primary:hover {
  background-color: #63d1f3 !important;
  border-color: #33C3F0 !important;
}
.button.button-primary:focus {
  background-color: #096481 !important;
  border-color: #33C3F0 !important;
}

.no-tb-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-tb-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.user-form-container {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 12em;
}

.user-pic-holder {
  /*
  min-height:12em;
  */
  margin-top: 1em;
}

.row.login {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.user-pic {
  width: 100%;
  max-width: 9.2em;
  border-radius: 50%;
  border: 2px solid #33C3F0;
  min-height: 7em;
  padding: .4em;
}

.shadow {
  -webkit-box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
}

.error {
  border: 3px solid red !important;
  color: red !important;
  font-weight: 700;
}
.error:hover {
  cursor: pointer;
}

.error::-ms-input-placeholder {
  color: red !important;
  font-weight: 700;
}
.error::-ms-input-placeholder:hover {
  cursor: pointer;
}

.error:-ms-input-placeholder {
  color: red !important;
  font-weight: 700;
}
.error:-ms-input-placeholder:hover {
  cursor: pointer;
}

.error::-webkit-input-placeholder {
  color: red !important;
  font-weight: 700;
}
.error::-webkit-input-placeholder:hover {
  cursor: pointer;
}

.notification-container {
  position: fixed;
  max-width: 960px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
}

.notification-bar {
  margin-top: .3em;
  border-radius: 10px;
  font-size: 1em;
  padding: .3em 0;
  background-color: #c2edfa;
  color: #021a22;
  font-weight: 700;
}

@media (max-width: 499px) {
  #login {
    paddin: 0;
  }

  img.user-pic {
    min-width: 45%;
    border-radius: 30%;
  }
}
