a {
  color: #0d89b0;
}

a:hover {
  color: #1bbcee;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #33C3F0;
  border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #63d1f3;
  border-color: #33C3F0;
}
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #096481;
  border-color: #33C3F0;
}

.g-recaptcha > div {
  width: 100% !important;
  text-align: center;
}

iframe {
  text-align: right;
}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

body {
  background-color: #63d1f3;
}

.container {
  margin: 0 auto !important;
  text-align: center;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  visibility: hidden;
}

#login {
  width: 90%;
  margin: 0 auto;
  max-width: 40em;
  text-align: center;
}

input.login:focus {
  border-color: #33C3F0 !important;
}

.no-tb-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-tb-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.user-form-container {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 12em;
}

.user-pic-holder {
  margin-top: 1em;
}

.row.login {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.row.login.recover {
  margin: 0;
  padding: 0;
  text-align: right;
}

.user-pic {
  width: 100%;
  max-width: 9.2em;
  border-radius: 50%;
  border: 2px solid #33C3F0;
  min-height: 7em;
  padding: .4em;
}

.shadow {
  -webkit-box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 10px 77px 0px rgba(0, 0, 0, 0.44);
}

.error {
  border: 1px solid green !important;
  color: green !important;
  font-weight: 700;
}
.error:hover {
  cursor: pointer;
}

.error::-ms-input-placeholder {
  color: green !important;
  font-weight: 700;
}
.error::-ms-input-placeholder:hover {
  cursor: pointer;
}

.error:-ms-input-placeholder {
  color: green !important;
  font-weight: 700;
}
.error:-ms-input-placeholder:hover {
  cursor: pointer;
}

.error::-webkit-input-placeholder {
  color: green !important;
  font-weight: 700;
}
.error::-webkit-input-placeholder:hover {
  cursor: pointer;
}

.notification-container {
  position: fixed;
  max-width: 960px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  z-index: 9999;
}

.notification-bar {
  margin-top: .3em;
  border-radius: 10px;
  font-size: 1em;
  padding: .3em 0;
  background-color: #c2edfa;
  color: #021a22;
  font-weight: 700;
  border: 1px solid green;
}

div.banner-container {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  background: #1bbcee;
}
div.banner-container.banner-shadow {
  -webkit-box-shadow: inset 0px -116px 4px -116px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -116px 4px -116px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -116px 4px -116px rgba(0, 0, 0, 0.75);
}
div.banner-container > div.banner-text {
  margin: 0;
  padding: 0 1em;
  font-size: 1.6em;
  font-weight: 700;
}

@media (max-width: 499px) {
  #login {
    padding: 0;
  }

  img.user-pic {
    min-width: 45%;
    border-radius: 30%;
  }

  .captcha-container {
    width: 100% !important;
  }
}
